@{
    ViewBag.Title = "Contato";
}
<br />
<h4>@ViewBag.Title</h4>
<br />
<h5><b>@ViewBag.Message</b></h5>

<address>
    <strong>E-mail:</strong> 
    <a href="mailto:welington.loh@gmail.com">welington.loh@gmail.com.</a><br />
</address>